inst/stan/*
!inst/stan/*.*
!inst/stan/functions/
!inst/stan/functions/*.*
!inst/stan/gptools/
!inst/stan/gptools/*.*

.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store

vignettes/*.html
data/result_example.rds
local/
docs
